
{% extends 'base.html' %}

{% block content %}
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="/static/js/js.cookie.js"></script>
 <link rel="stylesheet" href="/static/css/author.css"/>
<div class="container">
<div class="row">
</div>
</div>
<div class="entry">
  <img src="/static/images/No_image_available.svg" alt="img" id="ppic"> <!--hardcoded image for now-->
</div>
<div class = "jumbotron" id="jumbobody">
</div>
<script type="text/javascript">
$.ajax({
    url: "/service/author/{{ a_id }}",
    type: "GET",
    dataType: 'json',
    complete: function (data) {
        var newshead = document.getElementsByClassName("entry")[0];
        var news = document.getElementsByClassName("jumbotron")[0];
        var ret_text = JSON.parse(data.responseText);
        
        var dname = document.createElement("h1");
        dname.setAttribute("id", "dname");
        dname.innerHTML = ret_text.displayName;
        newshead.appendChild(dname); 
        
        var fn = document.createElement("div");
        fn.setAttribute("class", "info");
        fn.innerHTML = "First Name:";
        news.appendChild(fn);
        var fnv = document.createElement("div");
        fnv.setAttribute("class", "infov");
        fnv.innerHTML = ret_text.first_name;
        news.appendChild(fnv);
        var ln = document.createElement("div");
        ln.setAttribute("class", "info");
        ln.innerHTML = "Last Name:";
        news.appendChild(ln);
        var lnv = document.createElement("div");
        lnv.setAttribute("class", "infov");
        lnv.innerHTML = ret_text.last_name;
        news.appendChild(lnv);
        var email = document.createElement("div");
        email.setAttribute("class", "info");
        email.innerHTML = "Email:";
        news.appendChild(email);
        var emailv = document.createElement("div");
        emailv.setAttribute("class", "infov");
        emailv.innerHTML = ret_text.email;
        news.appendChild(emailv);
        var host_name = document.createElement("div");
        host_name.setAttribute("class", "info");
        host_name.innerHTML = "Host:";
        news.appendChild(host_name);
        var host_namev = document.createElement("div");
        host_namev.setAttribute("class", "infov");
        host_namev.innerHTML = ret_text.host;
        news.appendChild(host_namev);
        var url = document.createElement("div");
        url.setAttribute("class", "info");
        url.innerHTML = "URL:";
        news.appendChild(url);
        var urlv = document.createElement("div");
        urlv.setAttribute("class", "infov");
        urlv.innerHTML = ret_text.url;
        news.appendChild(urlv);
        var github = document.createElement("div");
        github.setAttribute("class", "info");
        github.innerHTML = "Github:";
        news.appendChild(github);
        var githubv = document.createElement("div");
        githubv.setAttribute("class", "infov");
        githubv.innerHTML = ret_text.github_username;
        news.appendChild(githubv);
        var bio = document.createElement("div");
        bio.setAttribute("class", "info");
        bio.innerHTML = "Bio:";
        news.appendChild(bio);
        var biov = document.createElement("div");
        biov.setAttribute("class", "infov");
        biov.innerHTML = ret_text.bio;
        news.appendChild(biov);
    }
});

</script>
{% endblock %}
