
{% extends 'base.html' %}

{% block content %}
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="/static/js/js.cookie.js"></script>
<div class="container">
<div class="row">

<div class="jumbotron">
  <h1>Hello</h1>
  <p>You are viewing an author.</p>

</div>
</div>
</div>

<div class="entry">

</div>
<script type="text/javascript">
$.ajax({
    url: "/service/author/f7412b4f-845b-4402-9dda-a4083ac3f9db", //this is hardcoded atm
    type: "GET",
    dataType: 'json',
    complete: function (data) {
        var news = document.getElementsByClassName("entry")[0];
        var ret_text = JSON.parse(data.responseText);
        var hfirst = document.createElement("h5");
        hfirst.innerHTML = "First Name: " + ret_text.first_name;
        news.appendChild(hfirst);
        var hlast = document.createElement("h5");
        hlast.innerHTML = "Last Name: " + ret_text.last_name;
        news.appendChild(hlast);
    }
});

</script>
{% endblock %}
