
{% extends 'base.html' %}

{% block content %}

 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="/static/js/js.cookie.js"></script>
 <link rel="stylesheet" href="/static/css/author.css"/>
<div class="container">




<div class="row">
</div>
</div>
<div class="entry">
</div>
<div class = "jumbotron" id="jumbobody">
<h1>Friend Requests</h1>

<form action="{% url 'service:friendrequest_handler' %}" method="post" id="accept">
{% csrf_token %}

</form>



{% for i in serial %}
{{i}} <button type="submit" form="accept">Accept</button> <button>Decline</button> </br></br>

{% endfor  %}

</div>
<script type="text/javascript">


</script>




{% endblock %}
