
{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class="row">

<div class="jumbotron">
    <h1>Hello</h1>
    <p>You are on your Dashboard</p>
    <p>Nothing here {$ 'yet' + '!' $}</p>
</div>
</div>
</div>
<p style="text-align:center; font-size:larger" >Recent Posts</p>

<div class="entry">
    <div ng-controller='streamCtrl'>
        <div ng-repeat="post in posts" class="container post">
            <h2>{$ post.fields.title $}</h2>
            <h3>{$ post.fields.description $}</h3>
            <p>{$ post.fields.content $}</p>
            <p ng-repeat="comment in post.fields.comments">{$ comment.comment $}</p>
            <p ng-if="post.fields.comments.length == 0">There are no comments for this post.</p>
        </div>
    </div>
</div>

<script src="/static/js/js.cookie.js"></script>
{% endblock %}
