{% extends 'base.html' %}

{% block content %}
 <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="/static/js/js.cookie.js"></script>
<div class="container">
<div class="row">

<div class="jumbotron">
    <p>Make a post!</p>
{% if error_message %}
   <p><strong>{{error_message}}</strong></p>
{% endif %}
  <div>
  <!--TODO need to where figure out where to send this -->
  <form action="./" method="POST" id="makepost">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type ="text" id="title" name="title" placeholder="Title" class="form-control">
  </div>
   <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" class="form-control" placeholder="Description">
   </div>
   <div class="form-group">
    <label for="content">Content</label>
    <textarea rows="4" cols="50" id="content" name="content" form="makepost" class="form-control" placeholder="Content"></textarea>
   </div>
    <div class="form-group">
      <label for="cat">Categories</label>
      <input type ="text" id ="cat" name="categories" class="form-control" placeholder="Categories (separate by comma)">

    </div>
   <div class="form-group">
    <label for="visible">Visibility</label>
   <select id="visible" name="visibility" class="form-control">
           <option value="PRIVATE">Me Only</option>
           <option value="FRIENDS">Your friends on all server </option>
           <option value="FOAF">Friends of friends </option>
           <option value="SERVERONLY">Server Only </option>
           <option value="PUBLIC">All</option>
   </select>
   </div>
   <div class="form-group">
    <label for="texttype">Text Type</label>
    <select id="texttype" name="contentType" class="form-control">
           <option value="text/plain">Text</option>
           <option value="text/x-markdown">Markdown</option>
   </select>
   </div>
   <input type="submit" value="Post" id="submitpost" class="btn btn-default">
   </form>
   </div>


    <script type='text/javascript'>



$("#makepost").submit(function(e){

    e.preventDefault();

    var data = {}
    var Form = this;
    var csrftoken = Cookies.get('csrftoken');

    //Gathering the Data
    //and removing undefined keys(buttons)
    $.each(this.elements, function(i, v){
            var input = $(v);
        data[input.attr("name")] = input.val();
        delete data["undefined"];
    });

    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
    });

    //Form Validation goes here....

    //Save Form Data........
    $.ajax({
        cache: false,
        url : '{% url 'service:post_handler_generic'%}',
        type: "POST",
        dataType : "json",
        data : data,
        context : Form,
        success : function(callback){
            //Where $(this) => context == FORM

            //$(this).html("Received HTTP 200. Post should now be in database.");
            window.location.href = "{% url 'website:home'%}"

        },
        error : function(xhr, thrownError){
            console.log(xhr.status);
            console.log(thrownError)
            $(this).html("Error!");
        }
    });
  });
    </script>
</div>
</div>
</div>
{% endblock %}
