h1 {
	text-align: center;
}

#Btn {
	float: right;
	display: table;
	margin: 0 20% 1% 0;
}

#disName {
	float: left;
	display: table;
	margin: 0 0 1% 10%;
	font-size: 150%;
}

#jumbobody {
	margin: 0 20% 0 20%;
}